/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* MENU PHP*/
.menu {
  background: #F5F5F5;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 1px solid #ccc;
}

.menu a {
  text-decoration: none;
  font-size: 28px;
  color: #333;
  transition: 0.3s;
}
.menu a:hover {
  color: purple;
}
/* FOOTER PHP */
footer {
  margin-top: auto;
  background: #F5F5F5;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

/* BANNER NO INDEX*/
.banner {
  /* position: relative;
  height: 90vh;
  overflow: hidden; */
  position: relative;
  height: calc(100vh - 100px);
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* CAMADA ESCURA */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
/* TEXTO CENTRAL */
.conteudo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.conteudo h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.conteudo p {
  font-size: 20px;
}
/* CADASTRAR PHP */
.content {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40px);
  padding: 30px 20px;
  background: #f5f5f5; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* antes era center */
  align-items: center;
  min-height: calc(100vh - 40px);
  padding: 25px 29px; /* diminui o espaço superior */
}
.content h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 28px;
  text-align: center;
  margin-bottom: 24px;
  color: #3710d6;
}
form {
  background: #fff;
  padding: 30px;
  width: 100%;
  height: 650px;
  max-width: 700px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0;
}
.campo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.completo {
  grid-column: 1 / -1;
}
label,
input,
button {
  font-size: 19px;
}
input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
button {
  grid-column: 1 / -1; /* <- isso força ocupar as 2 colunas */
  background: #3710d6;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  font: bold;
}
.mensagem {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-weight: bold;
}

.sucesso {
  background-color: #d4edda;
  color: #155724;
}

.erro {
  background-color: #f8d7da;
  color: #721c24;
}

/* LISTAR PHP */
.container-tabela {
  display: flex;
  justify-content: center; /* centraliza horizontal */
  margin-top: 40px;
}
.h1_listar{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 28px;
  text-align: center;
  margin-bottom: 24px;
  color: #3710d6;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
th {
  background-color: #4a90e2;
  color: white;
  padding: 12px;
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
/* efeito hover nas linhas */
tr:hover {
  background-color: #f5f5f5;
}
.resumo-tabela {
  width: 80%;
  margin: 15px auto;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
